<div data-role="page" id="editHarvestRecordPage" name="editHarvestRecordPage">

  <div data-role="header" data-position="inline">
    <h1>Edit Record</h1>
    <a href="/app/HarvestRecord/showByPlantingRecordId/<%= @harvestrecord.PlantingRecordId %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="#" onclick='ActionSheet.confirmDelete("<%= url_for :action => :delete, :id => @harvestrecord.object %>", "Delete Record");' class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form id="editHarvestRecordForm" name="editHarvestRecordForm" method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @harvestrecord.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="harvestrecord[HarvestDate]" class="fieldLabel">Harvest Date</label>
            <input type="date" id="harvestrecord[HarvestDate]" name="harvestrecord[HarvestDate]" value='<%= Time.parse(@harvestrecord.HarvestDate).strftime("%Y-%m-%d") %>' <%= placeholder( "Harvest Date" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="harvestrecord[HarvestAmount]" class="fieldLabel">Amount</label>
            <input type="number" id="harvestrecord[HarvestAmount]" name="harvestrecord[HarvestAmount]" value="<%= @harvestrecord.HarvestAmount %>" <%= placeholder( "Amount" ) %> />
          </div>
          
          <div data-role="fieldcontain">
            <label for="harvestrecord[HarvestAmountUnit]" class="fieldLabel">Unit</label>
            <select id="harvestrecord[HarvestAmountUnit]" name="harvestrecord[HarvestAmountUnit]">
              <% @amountUnits.each do |unit| %>
                <% if @harvestrecord.HarvestAmountUnit == unit.UnitNamePlural %>
                  <option selected="selected">
                    <%= unit.UnitNamePlural %>
                  </option>
                <%else%>
                  <option>
                    <%= unit.UnitNamePlural %>
                  </option>
                <%end%>
              <%end%>
            </select>
          </div>
      
          <div data-role="fieldcontain">
            <label for="harvestrecord[Notes]" class="fieldLabel">Notes</label>
            <textarea id="harvestrecord[Notes]" name="harvestrecord[Notes]" <%= placeholder( "Notes" ) %>><%= @harvestrecord.Notes %></textarea>
          </div>
      
      <input type="submit" value="Update" />
    </form>
  </div>
  
    <script type="text/javascript">
      $(document).delegate("#editHarvestRecordPage", 'pageinit', editHarvestRecordPageInit);
                        
      function editHarvestRecordPageInit(event)
      {
        $(document).undelegate("#editHarvestRecordPage", "pageinit");
        
        $("#editHarvestRecordForm").submit(editHarvestRecordFormSubmit);
      }
    
      function editHarvestRecordFormSubmit(e)
      {
         e.preventDefault();
         e.stopPropagation();
         e.stopImmediatePropagation();
      
        var harvestAmount = document.forms["editHarvestRecordForm"]["harvestrecord[HarvestAmount]"].value;
        var date = document.forms["editHarvestRecordForm"]["harvestrecord[HarvestDate]"].value;  
        
        if(harvestAmount == null || harvestAmount == "")
        {
          var title = "Invalid Harvest Amount";
          var message = "Please enter a harvest amount.";
          $.post("/app/Home/showAlert?title=" + title + "&message=" + message);
          return;
        }
        
         numExp = /^[-+]?[0-9]*\.?[0-9]+$/;
         if(!numExp.test(harvestAmount))
         {
           var title = "Invalid Harvest Amount";
           var message = "Harvest amount must be a number.";
           $.post("/app/Home/showAlert?title=" + title + "&message=" + message);
           return;
         }
         
         if(date == null || date == "")
         {
           var title = "Invalid Date";
           var message = "Please enter a date.";
           $.post("/app/Home/showAlert?title=" + title + "&message=" + message);
           return;
         }
         
         dateRegEx = /^\d{4}[-]{1}\d{2}[-]{1}\d{2}$/;
         if(!dateRegEx.test(date))
         {
           var title = "Invalid Date";
           var message = "Please enter a date in the form of yyyy-mm-dd";
           $.post("/app/Home/showAlert?title=" + title + "&message=" + message);
           return;
         }
        
        $.post("/app/HarvestRecord/update", $("#editHarvestRecordForm").serializeArray(), ajaxCallback);
      }
      
      function ajaxCallback(data)
      {
        $.mobile.changePage("/app/HarvestRecord/showByPlantingRecordId/<%= @harvestrecord.PlantingRecordId %>", {transition: "slide"});
      }
    </script>

</div>
