<div data-role="page" id="newAmountUnitPage" name="newAmountUnitPage">

  <div data-role="header" data-position="inline">
    <h1>New Unit</h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form id="newAmountUnitForm" name="newAmountUnitForm" method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @amountunit.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="amountunit[UnitName]" class="fieldLabel">Unit Name</label>
            <input type="text" id="amountunit[UnitName]" name="amountunit[UnitName]" <%= placeholder("Unit Name") %> />
          </div>
          <div data-role="fieldcontain">
              <label for="amountunit[UnitNamePlural]" class="fieldLabel">Plural</label>
              <input type="text" id="amountunit[UnitNamePlural]" name="amountunit[UnitNamePlural]" <%= placeholder("Plural") %> />
          </div>
      

      <input type="submit" value="Create" />
    </form>
  </div>

    <script type="text/javascript">
      $(document).delegate("#newAmountUnitPage", 'pageinit', newAmountUnitPageInit);
            
      function newAmountUnitPageInit(event)
      {
        $(document).undelegate("#newAmountUnitPage", "pageinit");
        
        $("#newAmountUnitForm").submit(newAmountUnitFormSubmit);
      }
    
      function newAmountUnitFormSubmit(e)
      {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        
        var unitName = document.forms["newAmountUnitForm"]["amountunit[UnitName]"].value;
        var unitNamePlural = document.forms["newAmountUnitForm"]["amountunit[UnitNamePlural]"].value;
        
        if(unitName == null || unitName == "")
        {
          var title = "Missing Unit Name";
          var message = "Please enter a unit name.";
          $.post("/app/Home/showAlert?title=" + title + "&message=" + message);
          return;
        }
        
        if(unitNamePlural == null || unitNamePlural == "")
        {
          var title = "Missing Unit Name";
          var message = "Please enter the plural form of the unit.";
          $.post("/app/Home/showAlert?title=" + title + "&message=" + message);
          return;
        }
        
        $.post("/app/AmountUnit/create", $("#newAmountUnitForm").serializeArray(), ajaxCallback);
      }
      
      function ajaxCallback(data)
      {
        if(data == "<div>OK</div>")
        {
          $.mobile.changePage("/app/AmountUnit/index", {transition: "slide"});
        }
        else
        {
          var title = "Unit Already Exists";
          $.post("/app/Home/showAlert?title=" + title);
        }
      }
    </script>
  
</div>
