<div data-role="page" id="editCropPage" name="editCropPage">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @crop.CropName %></h1>
    <a href="/app/Crop/editCropIndex" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="#" onclick='ActionSheet.confirmDelete("<%= url_for :action => :delete, :id => @crop.object %>", "Delete Crop");' class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form id="editCropForm" name="editCropForm" method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @crop.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="crop[CropName]" class="fieldLabel">Crop Name</label>
            <input type="text" id="crop[CropName]" name="crop[CropName]" value="<%= @crop.CropName %>" <%= placeholder( "Crop Name" ) %> />
          </div>
      
          <div class="information-container">
            <strong>Crop Type: </strong>
            <%if @crop.CropType == 0 %>
              Annual
            <%end%>
            <%if @crop.CropType == 1 %>
              Biennial
            <%end%>
            <%if @crop.CropType == 2 %>
              Perennial
            <%end%>
          </div>
          <br />
      <input type="submit" value="Update"/>
    </form>
  </div>
  
    <script type="text/javascript">
      $(document).delegate("#editCropPage", 'pageinit', editCropPageInit);
            
      function editCropPageInit(event)
      {
        $(document).undelegate("#editCropPage", "pageinit");
        
        $("#editCropForm").submit(editCropFormSubmit);
      }
    
      function editCropFormSubmit(e)
      {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        
        var cropName = document.forms["editCropForm"]["crop[CropName]"].value;
        if(cropName == null || cropName == "")
        {
          var title = "Missing Crop Name";
          var message = "Please enter a crop name.";
          $.post("/app/Home/showAlert?title=" + title + "&message=" + message);
          return;
        }
        
        $.post("/app/Crop/update", $("#editCropForm").serializeArray(), ajaxCallback);
      }
      
      function ajaxCallback(data)
      {
        if(data == "<div>OK</div>")
        {
          $.mobile.changePage("/app/Crop/editCropIndex", {transition: "slide"});
        }
        else
        {
          var title = "Crop Already Exists";
          $.post("/app/Home/showAlert?title=" + title);
        }
      }
    </script>

</div>
